.Footer {
  background-color: var(--dark-blue-color);
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.Footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.Footer-logo img {
  fill: var(--white-color);
}
.Footer-about {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.Footer-about-section {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.Footer-about-title {
  color: var(--white-color);
  margin-bottom: 6px;
}
.Footer-about-link {
  color: var(--dark-gray-color);
  display: block;
}
.Footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.Footer-social-icon {
  display: flex;
}
.Footer a:hover {
  color: var(--primary-color);
}
.Footer-social-icon svg:hover > path {
  fill: var(--primary-color);
}

@media screen and (min-width: 1024px) {
  .Footer-container {
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
  }
  .Footer-logo {
    width: 30%;
    text-align: start;
  }
  .Footer-about {
    width: 100%;
    flex-direction: row;
    text-align: start;
    justify-content: space-evenly;
  }
}
