.Shorten-item {
  background-color: var(--white-color);
  border-radius: 6px;
  text-align: left;
  padding: 12px;
}
.Shorten-item:last-child {
  margin-bottom: 20px;
}
.Shorten-item-divider {
  border-top: 1px solid #e7e7e7;
}
.Shorten-original {
  color: var(--secondary-color);
  padding-bottom: 12px;
}
.Shorten-link {
  color: var(--primary-color);
  padding-top: 12px;
  padding-bottom: 12px;
  display: block;
  font-size: 18px;
}
.Shorten-link:hover {
  text-decoration: underline;
}
.Shorten-copy {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: var(--white-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 6px;
}
.Shorten-copy.active {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

@media screen and (min-width: 720px) {
  .Shorten-item {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
  }
  .Shorten-item:last-child {
    margin-bottom: 0;
  }
  .Shorten-original {
    padding-bottom: 0;
  }
  .Shorten-item-divider {
    display: flex;
    align-items: center;
    gap: 20px;
    border-top: none;
  }
  .Shorten-link {
    padding: 0;
  }
  .Shorten-copy {
    width: 100px;
  }
}

@media screen and (min-width: 1024px) {
  .Shorten-link {
    font-size: 20px;
  }
}
