.Shorten {
  background-color: var(--gray-color);
}
.Shorten-container {
  position: relative;
  padding-top: 120px;
}
.Shorten-form {
  position: absolute;
  top: -83px; /* 83px = height / 2 */
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 24px;
  border-radius: 4px;

  background-color: var(--secondary-color);
  background-position: top right;
  background-repeat: no-repeat;
}
.Shorten-input,
.Shorten-submit {
  width: 100%;
  padding: 12px;
  font-family: var(--primary-font);
  border: none;
  border-radius: 4px;
  outline: none;
}
.Shorten-input {
  padding-left: 14px;
  font-size: 16px;
  color: var(--dark-blue-color);
  background-color: var(--white-color);
}
.Shorten-input::placeholder {
  color: var(--dark-gray-color);
}
.Shorten-submit {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 18px;
}
.Shorten-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media screen and (min-width: 720px) {
  .Shorten-container {
    padding-top: 80px;
  }
  .Shorten-form {
    top: -55px;
    flex-direction: row;
    padding: 30px 40px;
    background-size: cover;
  }
  .Shorten-submit {
    width: 230px;
  }
  .Shorten-list {
    gap: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .Shorten-container {
    padding-top: 100px;
  }
  .Shorten-form {
    top: -70px;
    padding: 45px 60px;
  }
}
